.control {
  position: absolute;
  left: 50%;
  right: 0px;
  top: 0px;
  height: 20px;
  background-color: hsl(70, 8%, 45%);
}

.control.import {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 20px;
}

.control a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  line-height: 20px;
  margin-left: 3px;
  margin-right: 3px;
}

.control .right {
  float: right;
}

.control a.run {
  margin-left: 10px;
  margin-right: 10px;
  color: hsl(100, 80%, 70%);
}

.control a.prev,
.control a.next {
}

.control a.import {
}

.control a.mode {
  opacity: 0.5;
}

.control a.active {
  font-weight: bold;
  opacity: 1.0;
}
