<div class="control">
  <div class="viewer" ng-hide="importing">
    <span>
      <a href="#" ng-click="download()" class="download">Download</a>
      <a href="#" ng-click="import()" class="import">Import</a>
    </span>
    <span class="right">
    </span>
  </div>

  <div class="editor" ng-hide="importing">
    <div class="commands">
      <a href="#" ng-click="run()" class="run">Run</a>
    </div>
    <div class="state">
      <div ng-repeat="s in state()" 
           class="step" ng-click="select(s)"
           ng-class="{ current: current(s),
                       dirty: dirty(s),
                       error: error(s),
                       clean: clean(s) }"
           style="z-index: {{z_index(s)}};">
        {{s.id}}
      </div>
    </div>
  </div>

  <div class="import" ng-show="importing">
    <span>
      <a href="#" ng-click="json()" class="mode" ng-class="{ active: mode == 'json' }">JSON</a>
      <a href="#" ng-click="csv()" class="mode" ng-class="{ active: mode == 'csv' }">CSV</a>
    </span>
    <span class="right">
      <a href="#" ng-click="submit()" class="import">Submit</a>
    </span>
  </div>
</div>
